{
  "name": "${{ values.name }}",
  "image": "pilotso11/fullstack-devc:dev",
  "forwardPorts": [${{ values.containerPort | default(8000) }}{% if values.enableDatabase %}, 5432{% endif %}],
  "customizations": {
    "vscode": {
      "extensions": [
        "golang.go",
        "ms-python.python",
        "ms-python.vscode-pylance",
        "biomejs.biome",
        "bradlc.vscode-tailwindcss",
        "esbenp.prettier-vscode",
        "ms-vscode-remote.remote-containers"{% if values.enableDatabase %},
        "ckolkman.vscode-postgres"{% endif %}
      ],
      "settings": {
        "editor.formatOnSave": true,
        "editor.defaultFormatter": "esbenp.prettier-vscode"
      }
    }
  },
  "features": {
    "ghcr.io/devcontainers/features/common-utils:2": {
      "installZsh": true,
      "installOhMyZsh": true,
      "upgradePackages": true
    }
  }{% if values.enableDatabase %},
  "postStartCommand": "pg-start"{% endif %}{% if values.enableSSO or values.enableDatabase %},
  "containerEnv": {
{% if values.enableSSO %}
    "DEV_MODE": "true",
    "DEV_USER_EMAIL": "dev@example.com"{% if values.enableDatabase %},{% endif %}
{% endif %}
{% if values.enableDatabase %}
    "DATABASE_USER": "${{ values.name }}",
    "DATABASE_PASSWORD": "${{ values.name }}",
    "DATABASE_URL": "postgres://localhost:5432/${{ values.name }}?sslmode=disable",
    "DB_USER": "${{ values.name }}",
    "DB_PASS": "${{ values.name }}"
{% endif %}
  }{% endif %}
}
